In [1]:
import pandas as pd

In [7]:
df = pd.read_excel('similarcompanies1.xlsx', header=2)

In [8]:
df.head()

,Company_Name,Company_Tags,Sum,IT Services & Consulting,Software Product,Internet,E-Learning / EdTech,FinTech / Payments,Financial Services,Pharmaceutical & Life Sciences,...,Content Development / Language,Import & Export,Emerging Technologies,Biotechnology,Architecture / Interior Design,Animation & VFX,Events / Live Entertainment,Petrochemical / Plastics / Rubber,Design,Government / Public Administration
0,Unisys,"{'topCompany': ['TOP'], 'businessSize': ['Fore...",1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Atos,{'primaryIndustry': ['IT Services & Consulting']},1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NTT DATA Business Solutions Private Limited,"{'topCompany': ['TOP'], 'businessSize': ['Fore...",1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Tech Mahindra,"{'topCompany': ['Fortune India 500 (2019)', 'F...",1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Reliance Industries (RIL),"{'topCompany': ['Fortune India 500 (2019)', 'F...",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
cols = df.columns

In [29]:
cols.pop(0)
cols.pop(1)
cols.pop(2)
company_category = cols

In [32]:
def create_dictionary(company_categories, dataframe):
    master_dict = dict()
    for cateogry in company_category:
        master_dict[cateogry] = df.loc[df[cateogry] == 1]
    return master_dict

In [31]:
returned_dict = create_dictionary(company_categories = company_category, dataframe= df)

TypeError: create_dictionary() got an unexpected keyword argument 'cols'

In [20]:
for key in returned_dict.keys:
    print(returned_dict[key].head(1))

<class 'list'>

In [23]:
returned_dict.keys() == cols

False

In [26]:
for key in returned_dict.keys():
    print(key)